<div class="breadcrumps w-full">
    <ul class="list-none text-sm">
        {{ nav:breadcrumbs}}
        <li class="inline-block">
            <a href="{{ url }}"
                class="no-underline p-4 text-primary-lighter{{ if is_current }} text-secondary{{ /if }}">{{
                title }}</a>
        </li>
        {{ /nav:breadcrumbs }}
    </ul>
</div>