<nav class="bg-secondary-darker text-white">
    <div class="flex justify-between flex-wrap px-6 py-12 lg:py-24 max-w-5xl mx-auto">
        <div class="text-sm">
            <p>
                {{ settings:site_name }}<br />
                {{ settings:adresse }}<br />
                {{ settings:postnummer }} {{ settings:by }}
            </p>
            <p>CVR: 28618077</p>
        </div>
        <div>
            <ul>
                {{ nav }}
                <li class="text-right"><a href="{{ url }}">{{ title }}</a></li>
                {{ /nav }}
            </ul>
        </div>
    </div>
    <div class="flex items-center justify-between flex-wrap max-w-5xl py-4 px-6 mx-auto">
        <div class="flex items-start">
            {{ settings:social }}
            <a href="{{ url }}" class="mr-4" aria-label="{{ name }}" rel="noopener">
                {{ svg :src="icon" class="h-6 w-6 hover:text-teal" }}
            </a>
            {{ /settings:social }}
        </div>
        <div class="text-sm text-right">
            &copy; {{ now format="Y" }} {{ settings:site_name }}
        </div>
    </div>
</nav>