<nav class="bg-gradient-to-r from-secondary-lighter via-secondary to-secondary-lighter w-full">
    <div class="flex items-center justify-between lg:justify-start flex-wrap py-6 px-6 max-w-5xl mx-auto">
        <div class="text-md antialiased font-medium">
            <a href="/" class="block lg:inline-block md:mr-12">
                <span class="text-lg md_text-xl font-black">{{ settings:site_name }}</span><br />
                <span class="text-sm text-white">{{ settings:site_slogan }}</span></a>
        </div>
        <div class="block lg:hidden">
            <button class="flex items-center px-3 text-gray-800" x-bind:class="{'hidden': showMobileNav}"
                @click="showMobileNav = true">
                <svg class="fill-current h-5 w-5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Open Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
            <button class="items-center px-3 text-gray-800"
                x-bind:class="{'flex': showMobileNav, 'hidden': ! showMobileNav}" @click="showMobileNav = false"
                x-cloak>
                <svg class="fill-current h-5 w-5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Luk Menu</title>
                    <path
                        d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z" />
                </svg>
            </button>
        </div>
        <div class="w-full lg:w-auto lg:flex items-center" @click.away="showMobileNav = false"
            x-bind:class="{ 'hidden': ! showMobileNav }">
            {{ nav }}
            <a href="{{ url }}"
                class="block{{ is_current || is_parent ?= ' font-medium text-black' }} lg:inline-block text-primary hover:text-white py-3 lg:p-3 mr-3">
                {{ title }}
            </a>
            {{ /nav }}
        </div>
    </div>
</nav>