{{ if slide }}
{{ if image }}
<div class="bg-cover bg-center bg-no-repeat" style="background-image: url('{{ image:url }}'); height: 20rem;">
    {{ else }}
    <div class="h-64 bg-gradient-to-r from-secondary-lighter via-secondary to-secondary-lighter">
        {{ /if }}
        <div class="carousel">
            <div class="carousel__viewport">
                {{ slide }}
                {{ if type == "slide" }}
                <div class="carousel__slide flex flex-col justify-end items-center">
                    <p class="text-2xl md:text-4xl font-black text-white text-center"
                       style="text-shadow: #000 2px 2px 2px">{{ title }}</p>
                    <div class="carousel__snapper"></div>
                </div>
                {{ /if }}
                {{ /slide }}
            </div>
        </div>
    </div>
    {{ /if }}
    <article class="max-w-5xl mx-auto relative px-6 py-6">
        <div class="quote-container md:float-right mb-12 mt-10 md:ml-5">
            <i class="pin"></i>
            <blockquote class="note yellow text-center flex flex-col items-center">
                <span class="text-2xl">VI TILBYDER DIGITAL BOGFØRING</span>
                <br/>
                <span class="text-xl">Der følger kravene til den nye bogføringslov</span>
                <br/>
                <span class="text-xl">Nemt – bekvemt – billigt!</span>
            </blockquote>
        </div>
        <section class="content">
            {{ content }}
        </section>
    </article>
    {{ if testimonials }}
    <div class="h-64 bg-secondary-lighter py-6">
        <div class="carousel">
            <div class="carousel__viewport">
                {{ testimonials }}
                {{ if type == "testimonial" }}
                <div class="carousel__slide flex flex-col justify-center">
                    <p class="text-primary text-center max-w-5xl mx-auto">{{ udtalelse }}</p>
                    <p class=" text-primary text-right italic max-w-5xl w-full mx-auto mt-2">{{ kunde }}</p>
                    <div class="carousel__snapper"></div>
                </div>
                {{ /if}}
                {{ /testimonials }}
            </div>
        </div>
    </div>
    {{ /if }}
