<div class="max-w-5xl mx-auto relative px-6 h-full mb-6">
    <article class="mx-auto content">
        <h2>{{ title }}</h2>
        {{ form:create in="kontakt" }}
        {{ if errors }}
        <div class="bg-red-300 text-white p-2">
            {{ errors }}
            {{ value }}<br>
            {{ /errors }}
        </div>
        {{ /if }}

        {{ if success }}
        <div class="bg-green-300 text-white p-2">
            {{ success }}
        </div>
        {{ /if }}

        <div class='w-full md:w-full mb-6'>
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="navn">Navn</label>
            <input
                class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500"
                type="text" name="navn" id="navn" value="{{ old:navn }}" required />
        </div>

        <div class='w-full md:w-full mb-6'>
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="email">Email</label>
            <input
                class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500"
                type="email" name="email" id="email" value="{{ old:email }}" required />
        </div>

        <div class='w-full md:w-full mb-6'>
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="telefon">Telefon</label>
            <input
                class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500"
                type="text" name="telefon" id="telefon" value="{{ old:telefon }}" required />
        </div>

        <div class='w-full md:w-full mb-6'>
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="besked">Besked</label>
            <textarea name="besked"
                class='bg-gray-100 rounded-md border leading-normal resize-none w-full h-40 py-2 px-3 shadow-inner border border-gray-400 font-medium placeholder-gray-700 focus:outline-none focus:bg-white'
                rows="10" id="besked" required>{{ old:besked }}</textarea>
        </div>

        <input type="text" name="vejle" class="hidden" />

        <div class="flex justify-end">
            <button
                class="appearance-none bg-gray-200 text-gray-900 px-2 py-1 shadow-sm border border-gray-400 rounded-md"
                type="submit">Send</button>
        </div>

        {{ /form:create }}

        {{ content }}

        {{ if personer }}
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
            {{ personer }}
            {{ if type == "person" }}
            <div class="bg-white shadow-lg rounded-lg overflow-hidden mb-6">
                <img src="{{ image }}" alt="{{ navn }}" class="w-full object-cover object-center" />
                <div class="py-4 px-6">
                    <h3 class="text-2xl font-semibold">{{ navn }}</h3>
                    <div class="flex items-center mt-4">
                        <i class="fas fa-phone text-primary-lighter"></i>
                        <p class="px-2 text-sm">+45 {{ telefon }}</p>
                    </div>
                    <div class="flex items-center mt-4">
                        <i class="fas fa-at text-primary-lighter"></i>
                        <p class="px-2 text-sm">{{ email | obfuscate }}</p>
                    </div>
                </div>
            </div>
            {{ /if }}
            {{ /personer }}
        </div>
        {{ /if }}
    </article>
</div>
