@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -300%;
    }
    98% {
        left: -300%;
    }
    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}

.carousel {
    position: relative;
    perspective: 100px;
    height: 100%;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;

    &:hover,
    &:focus-within {
        .carousel__snapper {
            animation-name: none;
        }
    }

    .carousel__viewport {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        overflow-x: scroll;
        counter-reset: item;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar {
            width: 0;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: transparent;
            border: none;
        }

        .carousel__slide {
            position: relative;
            flex: 0 0 100%;
            width: 100%;
            counter-increment: item;

            .carousel__snapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                scroll-snap-align: center;
            }

            @media (hover: hover) {
                .carousel__snapper {
                    animation-name: tonext, snap;
                    animation-timing-function: ease;
                    animation-duration: 4s;
                    animation-iteration-count: infinite;
                }

                &:last-child .carousel__snapper {
                    animation-name: tostart, snap;
                }
            }

            @media (prefers-reduced-motion: reduce) {
                .carousel__snapper {
                    animation-name: none;
                }
            }
        }
    }
}
