.quote-container {
    @apply relative;

    .note {
        @apply text-primary-darker text-3xl p-5 my-0 mx-auto relative;
        width: 300px;
        box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);

        &.yellow {
            background: beige;
            -webkit-transform: rotate(2deg);
            -moz-transform: rotate(2deg);
            -o-transform: rotate(2deg);
            -ms-transform: rotate(2deg);
            transform: rotate(2deg);
        }
    }

    .pin {
        background-color: #aaa;
        @apply block h-8 w-px absolute;
        left: 50%;
        top: -16px;
        z-index: 1;

        &:after {
            background-color: #a31;
            background-image: radial-gradient(25% 25%, circle, hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 0%, 0.3));
            border-radius: 50%;
            box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.1), inset 3px 3px 3px hsla(0, 0%, 100%, 0.2),
                inset -3px -3px 3px hsla(0, 0%, 0%, 0.2), 23px 20px 3px hsla(0, 0%, 0%, 0.15);
            content: "";
            height: 12px;
            left: -5px;
            position: absolute;
            top: -10px;
            width: 12px;
        }

        &:before {
            background-color: hsla(0, 0%, 0%, 0.1);
            box-shadow: 0 0 0.25em hsla(0, 0%, 0%, 0.1);
            content: "";

            height: 24px;
            width: 2px;
            left: 0;
            position: absolute;
            top: 8px;

            transform: rotate(57.5deg);
            -moz-transform: rotate(57.5deg);
            -webkit-transform: rotate(57.5deg);
            -o-transform: rotate(57.5deg);
            -ms-transform: rotate(57.5deg);

            transform-origin: 50% 100%;
            -moz-transform-origin: 50% 100%;
            -webkit-transform-origin: 50% 100%;
            -ms-transform-origin: 50% 100%;
            -o-transform-origin: 50% 100%;
        }
    }
}
