<div>
    <p>En kontaktformular er blevet udfyldt på Vejle Skatterådgivnings hjemmeside</p>
    <br />
    <div>
        <p>Navn: {{ navn }}</p>
        <p>Email: {{ email }}</p>
        <p>Telefon: {{ telefon }}</p>
        <p>{{ besked }}</p>
    </div>
</div>
